@import "_colors.scss";
@import "_colors_processed.scss";

* {
  all: unset;
}

window {
  font-family: "Inter", "Feather";
  background: rgba( $background, 0.6);
  color: $foreground;
  border-radius: 12px;
  border: 1px solid $glassrim;
}

box {
  font-size: x-large;
  // border: 1px solid $glassrim;
}

button {
  font-size: x-large;
  color: $foreground;
  border-radius: 100%;
  padding: 7px;
  transition-property: all, color, background-size ,background;
  transition-duration: 75ms, 225ms, 300ms, 1200ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  outline: none;
  background-image: radial-gradient(circle, transparent 10%, transparent 0%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

button:hover {
  color: lighten( $foreground, 20%);
}

button:focus,
button:active {
  border-radius: 100%;
  background: rgba( $foreground, 0.5);
  padding: 7px;
}

scale trough {
  background: rgba( $foreground,0.15);
  min-height: 6px;
  min-width: 220px;
  border-radius: 6px;
  margin: 0 8px;
}

scale trough highlight {
  background: $foreground;
  border-radius: inherit;
}

scale slider {
	all: unset;
	min-height: 6px;
	margin: -6px;
	border-radius: 100%;
	background-color: lighten( $foreground, 10%);
  box-shadow: 0 0 2px 1px rgba( $background, 0.1);
}

progressbar trough {
  background: rgba($foreground, 0.15);
  border-radius: 4px;
}

progressbar progress {
  background: $foreground;
  border-radius: 4px;
}

.calendar-box {
  margin: 10px;
  background: rgba( $foreground, 0.1);
  border-radius: 12px;
  box-shadow: 0px 5px 10px 1px rgba( $background, 0.3);
  border: 1px solid $glassrim;
  padding: 0.3em;
}

calendar {
  padding: 2px 2px 0px 2px;
  font-size: 17px;
}

calendar:selected {
  border-radius: 3px;
  color: $background;
  background-color: $color4;
}

calendar.header {
  color: rgba( $foreground, 0.9);
  font-weight: bold;
}

calendar.button {
  color: rgba( $foreground, 0.3);
}

calendar.highlight {
  font-weight: bold;
  color: $foreground;
}

calendar:indeterminate {
  color: rgba( $foreground, 0.6);
}

.ctl-widgetbox {
  padding: 10px;
}

.ctl-widgetbox > *:not(:last-child) {
  margin-bottom: 10px; 
} 

.music-info-widgetbox {
  padding: 10px;
  background: rgba( $foreground, 0.1);
  border: 1px solid $glassrim;
  border-radius: 12px;
  box-shadow: 0px 5px 10px 1px rgba( $background, 0.3);
  margin-bottom: 10px;
}

.music-info-widgetbox button {
  margin: 0 15px;
}

.music-info-widgetbox > box.music-buttons {
  padding: 10px 30px;
}

.album-art {
  min-width: 80px;
  min-height: 80px;
  border-radius: 12px;
  background-size: contain;
  box-shadow: 0px 5px 10px 1px rgba( $background, 0.3);
}

.mini-volume-box {
  color: rgba( $foreground, 0.4);
}

.mini-volume-box label {
  font-size: smaller;
}

// Mini Player
.mini-player-widgetbox {
  margin-bottom: 10px;
  background: rgba( $foreground, 0.1);
  border: 1px solid $glassrim;
  border-radius: 12px;
  box-shadow: 0px 5px 10px 1px rgba( $background, 0.3);
  // border: 1px solid rgba( $foreground, 0.1);
}

.mini-player-widgetbox button {
  font-size: smaller;
}

.mini-album-art {
  min-width: 50px;
  min-height: 50px;
  border-radius: 12px;
  background-size: contain;
  box-shadow: 0px 5px 10px 1px rgba( $background, 0.3);
}

// #############
// SYSTEM WIDGET
// #############

.systemctl-box {
  background: rgba( $foreground, 0.1);
  border-radius: 12px;
  border: 1px solid $glassrim;
  box-shadow: 0px 5px 10px 1px rgba( $background, 0.3);
}

.systemctl-box > * {
  margin: 10px;
  padding: 10px;
  font-family: 'Feather';
}

// VOLUME WIDGET
.volume-widgetbox {
  padding: 5px 10px;
  background: rgba( $foreground, 0.1);
  border-radius: 12px;
  border: 1px solid $glassrim;
  box-shadow: 0px 5px 10px 1px rgba( $background, 0.3);
}

.volume-widgetbox scale trough {
  min-height: 14px;
  min-width: 230px;
  border-radius: 14px;
}

.volume-widgetbox scale slider {
	min-height: 10px;
	margin: -10px;
}

// brightness WIDGET
.brightness-widgetbox {
  padding: 5px 10px;
  background: rgba( $foreground, 0.1);
  border-radius: 12px;
  border: 1px solid $glassrim;
  box-shadow: 0px 5px 10px 1px rgba( $background, 0.3);
}

.brightness-widgetbox scale trough {
  min-height: 14px;
  min-width: 230px;
  border-radius: 14px;
}

.brightness-widgetbox scale slider {
	min-height: 10px;
	margin: -10px;
}

// #########################
// COMMAND CENTER BACKGROUND
// #########################

.monitor-widgetbox {
  padding: 0px 15px;
  background: rgba( $foreground, 0.1);
  border-radius: 12px;
  border: 1px solid $glassrim;
  box-shadow: 0px 5px 10px 1px rgba( $background, 0.3);
}

.monitor-widgetbox > box {
  font-size: smaller;
  padding: 5px 0px;
}

.monitor-widgetbox label {
  padding: 6px;
  background: rgba( $foreground, 0.1);
  border-radius: 8px;
}

.monitor-widgetbox progressbar {
  padding: 10px;
}

.monitor-widgetbox progressbar trough {
  min-width: 12px;
  border-radius: 20px;
}
 
.monitor-widgetbox progressbar progress {
  min-width: inherit;
  border-radius: inherit;
}

.monitor-widgetbox progress {
  background: $foreground;
}

.monitor-widgetbox label {
  color: $foreground;
}

.user-widgetbox {
  font-size: small;
}

.user-box {
  margin-left: 5px;
  padding: 5px;
  background: rgba( $foreground, 0.1);
  border-radius: 12px;
  border: 1px solid $glassrim;
  box-shadow: 0px 5px 10px 1px rgba( $background, 0.3);
}

.user-image {
  border-radius: 50%;
  min-width: 35px;
  min-height: 35px;
  background-size: contain;
  box-shadow: 0px 5px 10px 1px rgba( $background, 0.3);
}

.user-box label {
  font-size: small;
  padding-left: 5px;
}

.power-settings-box {
  margin-right: 5px;
  padding: 5px;
  border: 1px solid $glassrim;
  background: rgba( $foreground, 0.1);
  border-radius: 12px;
  box-shadow: 0px 5px 10px 1px rgba( $background, 0.3);
}

.power-settings-box button {
  font-size: smaller;
}

.power-settings-box > .sep {
  font-size: large;
  padding: 0px 5px;
  color: rgba( $foreground, 0.2);
}

.state-module {
  margin-right: 5px;
  padding: 5px;
  border: 1px solid $glassrim;
  border-radius: 12px;
  background: rgba( $foreground, 0.1);
  box-shadow: 0px 5px 10px 1px rgba( $background, 0.3);
}

.state-module-box box.button-box {
  padding-right: 5px;
}

.sub-module label.header,
.sub-module label.status {
  font-size: x-small;
}

.sub-module label.header {
  font-weight: bold;
}

.sub-module button {
  font-size: smaller;
}

.state-module-2 > *:not(:last-child) {
  margin-bottom: 10px;
}

.state-module-2 box.sub-module {
  margin-left: 5px;
  padding-left: 5px;
  border: 1px solid $glassrim;
  border-radius: 12px;
  background: rgba( $foreground, 0.1);
  box-shadow: 0px 5px 10px 1px rgba( $background, 0.3);
}
// BAR //

.groups-box,
.clock-box {
  border: 1px solid $glassrim;
  border-radius: 12px;
  background: rgba( $foreground, 0.1);
  padding: 0px 10px;
  box-shadow: 0px 5px 10px 1px rgba( $background, 0.3);
}

.groups-box button {
  font-size: smaller;
}

.clock-box label {
  font-size: small;
}

.ctl-cluster-box button {
  font-size: smaller;
}
.ctl-widget-launcher,
.ctl-rofi-launcher {
  border: 1px solid $glassrim;
  border-radius: 30%;
  background: rgba( $foreground, 0.1);
  margin-right: 10px;
  box-shadow: 0px 5px 10px 1px rgba( $background, 0.3);
}