configuration {
  font: "SF Pro Display 14";
  drun-display-format: "{name}";
  dpi: 192;
  show-icons: true;
  modi: "drun";
  fixed-num-lines: true;
}

@import "~/.cache/wal/rofi-wal.rasi"

* {
  background-color: transparent;
}
