* {{    
    /* WAL COLORS*/
    --main-bg-color:            rgba({background.rgb}, 0.8);
    --url-active-color:         rgba({foreground.rgb}, 0.1);
    --urlview-color:            rgba({background.rgb}, 0.8);
    --tab-inactive-bg:          rgba(0,0,0,0.1);
    --text-color:               rgb({foreground.rgb});

    /* SHADOW SETTINGS */
    --urlbar-shadow-color:      {background.rgb};
    --urlbar-shadow-open:       0 1px 1px rgba(var(--urlbar-shadow-color),0.25),
                                0 2px 2px rgba(var(--urlbar-shadow-color),0.20),
                                0 4px 4px rgba(var(--urlbar-shadow-color),0.15),
                                0 8px 8px rgba(var(--urlbar-shadow-color),0.10);

    --tabbar-shadow-color:      {background.rgb};
    --tabbar-shadow-selected:   1px 1px 1px rgba(var(--tabbar-shadow-color),0.25), -1px 1px 1px rgba(var(--tabbar-shadow-color),0.25), 
                                2px 2px 2px rgba(var(--tabbar-shadow-color),0.20), -2px 2px 2px rgba(var(--tabbar-shadow-color),0.20),
                                4px 4px 4px rgba(var(--tabbar-shadow-color),0.15), -4px 4px 4px rgba(var(--tabbar-shadow-color),0.15), 
                                8px 8px 8px rgba(var(--tabbar-shadow-color),0.10), -8px 8px 8px rgba(var(--tabbar-shadow-color),0.10);
 
    --tabbar-shadow:            inset 0px 1px 1px rgba(var(--tabbar-shadow-color),0.25),
                                inset 0px 2px 1px rgba(var(--tabbar-shadow-color),0.20),
                                inset 0px 4px 1px rgba(var(--tabbar-shadow-color),0.15);
}}
